@{ Layout = "~/Views/Shared/_LayoutWindowPrintPreview.cshtml";
    ViewData["Title"] = "Barcode preview"; }

@model NghiaHa.CRM.Web.Models.BaseViewModel

<div style="width:380px; min-height:570px; background-color:#ffffff;">
    @Html.Raw(Model.Content)
    @*<table>
        <tr>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-right-color:#000000; border-right-style:dotted; border-right-width:1px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-right-color:#000000; border-right-style:dotted; border-right-width:1px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-right-color:#000000; border-right-style:dotted; border-right-width:1px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-right-color:#000000; border-right-style:dotted; border-right-width:1px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-right-color:#000000; border-right-style:dotted; border-right-width:1px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
            <td>
                <div style="width:160px; height:90px; padding:9px; border-bottom-color:#000000; border-bottom-style:dotted; border-bottom-width:1px;">
                    <img src="~/images/Product/Barcode/201010111122000.png" width="100%" height="100%" />
                </div>
            </td>
        </tr>
    </table>*@
</div>