@{
    ViewData["Title"] = "Hóa đơn xuất hàng theo tháng";
}
@using Kendo.Mvc.UI
@model NghiaHa.CRM.Web.Models.BaseViewModel
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bán lẻ theo tháng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Hóa đơn - Bán lẻ</a></li>
                    <li class="breadcrumb-item active"><a class="text-primary" asp-action="BanLe" asp-controller="Invoice">Bán lẻ</a></li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100">
                <div class="card-header">
                    <div class="row">
                        <div class='col-sm-2'>
                            @(Html.Kendo().DropDownListFor(Model => Model.YearFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetYearFinanceToList", "AppGlobal")))
                            )
                        </div>
                        <div class='col-sm-2'>
                            @(Html.Kendo().DropDownListFor(Model => Model.MonthFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMonthFinanceToList", "AppGlobal")))
                            )
                        </div>
                        <div class='col-sm-7'>
                            @(Html.Kendo().DropDownList()
                        .Name("Membership")
                     .DataValueField("ID")
                     .DataTextField("FullName")
                     .Filter(FilterType.Contains)
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMembershipDataTransfer001ByCustomerParentIDToList", "Membership")))
                            )
                        </div>
                        <div class='col-sm-1'>
                            <button style="width:100%;" title="Tìm kiếm" class="btn btn-success" onclick="onSearch()">
                                <span class="fas fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="Data" class='col-sm-12'></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function onSearch() {

        $("#Data").html('');
        var yearValue = $("#YearFinance").data("kendoDropDownList").value();

        var monthValue = $("#MonthFinance").data("kendoDropDownList").value();

        var sellIDValue = $("#Membership").data("kendoDropDownList").value();

        var searchStringValue = "";

         $.ajax({
            type: 'GET',
            url: "@Url.Action("GetSUMSQLBanLeByInvoiceOutputAndYearAndMonthAndSellIDAndSearchStringToListToJSON", "Invoice")",
            data: {
                year: yearValue,
                month: monthValue,
                sellID: sellIDValue,
                searchString: searchStringValue,
            },
             success: function (list) {
                 var html = '<table class="border01" id="Data01" cellspacing="4" style="background-color:#ffffff; width: 100%;">';
                html = html + '<thead>';
                html = html + '<tr>';
                 html = html + "<th class='text-center' style='width: 5%;'><a style='cursor:pointer;'>STT</a></th>";
                 html = html + "<th class='text-center' style='width: 40%;'><a style='cursor:pointer;'>Khách hàng</a></th>";
                 html = html + "<th class='text-center' style='width: 15%;'><a style='cursor:pointer;'>Ngày lập</a></th>";                 
                 html = html + "<th class='text-center' style='width: 10%;'><a style='cursor:pointer;'>Thành tiền</a></th>";
                 html = html + "<th class='text-center' style='width: 10%;'><a style='cursor:pointer;'>Dư nợ</a></th>";                 
                html = html + '</tr>';
                html = html + '</thead>';
                html = html + '<tbody>';
                var no = 0;
                 for (var index in list) {
                     $(list[index]).each(function (iRec, item) {
                        no = no + 1;
                        if (no % 2 == 0) {
                            html = html + '<tr style="background-color:#ffffff;">';
                        }
                        else {
                            html = html + '<tr style="background-color:#f1f1f1;">';
                         }
                         
                         var urlMembership = "<a target='_blank' href='/Membership/CustomerDetail?ID=" + item.BuyID + "' title='" + item.BuyName + "'>" + item.BuyName + "</a>";
                         let Total = Math.round(item.Total);
                         var TotalString = Total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                         let TotalPaid = Math.round(item.TotalPaid);
                         var TotalPaidString = TotalPaid.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                         let TotalDebt = Math.round(item.TotalDebt);
                         var TotalDebtString = TotalDebt.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                         
                         html = html + '<td class="text-center">' + no + '</td>';
                         html = html + '<td class="text-left">' + urlMembership + '</td>';
                         html = html + '<td class="text-right">' + item.Note + '</td>';                         
                         html = html + '<td class="text-right" style="font-weight: bold; color: #000000;">' + TotalString + '</td>';
                         html = html + '<td class="text-right" style="font-weight: bold; color: red;">' + TotalDebtString + '</td>';                         
                         html = html + '</tr>';
                    });
                }
                html = html + '</tbody>';
                html = html + '</table>';
                html = $.parseHTML(html);
                 $("#Data").append(html);
            }
         }).done(() => {
        });
    }
</script>
